.mainMenu{
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    width: 500px;
    height:200px;
    text-align: center;
    align-items: center;
}

.but{
    width: 500px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.705);
    margin-bottom: 3px;
    color: black;
    border-radius: 10px;
}

.but:hover{
    background-color: rgb(8, 34, 82);
    color: aliceblue;
}

.judul{
    font-size: 30px;
    -webkit-text-stroke: rgb(255, 0, 0);
    -webkit-text-fill-color: rgb(23, 113, 216);
    display: flex;
    align-items: center;

}